<h1>Total order Prices : {{Total}}</h1>


<h1>Category ID  : {{categoryId}}</h1>


<div class="container m-5">
  <select class="form-select" aria-label="Catgoey select"  [(ngModel)]="categoryId">
  <option selected>Open this select menu</option>
  <option *ngFor="let x of category" value="{{x.id}}" >{{x.name}}</option>

</select>
</div>

<div class="row">
  <div *ngFor="let x of prodect;let i=index; trackBy: trackitem" class="col-md-3"
   [class.d-none]="x.categoryId != categoryId">
<div class="card ml-2" style="width: 18rem;"
     [style.background-color]="x.quinty == 0 ? 'yellow' : 'white'">

      <img [src]="x.imageurl" class="card-img-top" alt="..."  />
      <div class="card-body">
        <h5 class="card-title">{{i}} --- {{x.name}}</h5>
        <div class="card-text">
          <h4>{{x.prices}}</h4>
          <h4>{{x.quinty}}</h4>
           <input type="number" #count>
          <button class="btn btn-primary" (click)="buy(x.prices,count.value)">buy</button>

        </div>
        <!-- <a href="#" class="btn btn-primary">Add</a> -->
      </div>
    </div>
  </div>
</div>

